.navbar {
    padding: 0 150px 0 150px;
}

.loupe-img {
    height: 30px;
}

.logo {
    height: 100px;
    padding-right: 50px;
}

.text, .cards, footer {
    margin: 0 100px 0 100px;
    padding: 30px;
}

.card {
    border-radius: 0.5rem !important;
}


/* MEDIA QUERIES */
@media screen and (max-width: 400px) {
    .navbar {
        padding: 0;
    }
    .logo {
        height: 60px;
    }
    .text, .cards, footer {
        margin: 0 10px 0 10px;
        padding: 10px;
    }
}

@media screen and (min-width: 401px) and (max-width: 570px) {
    .navbar {
        padding: 0;
    }
    .logo {
        height: 60px;
    }
    .text, .cards, footer {
        margin: 0 10px 0 10px;
        padding: 10px;
    }
}

@media screen and (min-width: 571px) and (max-width: 960px) {
    .navbar {
        padding: 0;
    }
    .logo {
        height: 70px;
    }
    .text, .cards, footer {
        margin: 0 10px 0 10px;
        padding: 10px;
    } 
}